### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

node_modules/
server/node_modules/
client/node_modules/